<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.wmblog.mapper.BuyerMapper">
    <resultMap id="BaseResultMap" type="com.yellowstone.entity.Buyer">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="contact" jdbcType="VARCHAR" property="contact"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="account" jdbcType="VARCHAR" property="account"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="chinese_name" jdbcType="VARCHAR" property="chineseName"/>
        <result column="english_name" jdbcType="VARCHAR" property="englishName"/>
        <result column="telephone" jdbcType="VARCHAR" property="telephone"/>
        <result column="fax" jdbcType="VARCHAR" property="fax"/>
        <result column="business_license_number" jdbcType="VARCHAR"
                property="businessLicenseNumber"/>
        <result column="tax_registration_number" jdbcType="VARCHAR"
                property="taxRegistrationNumber"/>
        <result column="registered_capital" jdbcType="DOUBLE"
                property="registeredCapital"/>
        <result column="province_code" jdbcType="VARCHAR" property="provinceCode"/>
        <result column="city_code" jdbcType="VARCHAR" property="cityCode"/>
        <result column="area_code" jdbcType="VARCHAR" property="areaCode"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="business_license_valid_type" jdbcType="VARCHAR"
                property="businessLicenseValidType"/>
        <result column="business_license_valid_date" jdbcType="TIMESTAMP"
                property="businessLicenseValidDate"/>
        <result column="business_license_url" jdbcType="VARCHAR"
                property="businessLicenseUrl"/>
        <result column="tax_registration_url" jdbcType="VARCHAR"
                property="taxRegistrationUrl"/>
        <result column="tax_certificate_url" jdbcType="VARCHAR"
                property="taxCertificateUrl"/>
        <result column="state" jdbcType="VARCHAR" property="state"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <resultMap id="dtoMap" type="com.yellowstone.dto.BuyerDto" extends="BaseResultMap">
    </resultMap>


    <sql id="Base_Column_List">
        id, contact, phone, email, account, password, chinese_name,
        english_name, telephone,
        fax, business_license_number,
        tax_registration_number, registered_capital,
        province_code,
        city_code,
        area_code, address, business_license_valid_type,
        business_license_valid_date,
        business_license_url,
        tax_registration_url, tax_certificate_url, state, update_time,
        create_time
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_buyer
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from t_buyer
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.yellowstone.entity.Buyer">

        <selectKey resultType="long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>

        insert into t_buyer (id, contact, phone,
        email, account, password,
        chinese_name, english_name, telephone,
        fax, business_license_number,
        tax_registration_number,
        registered_capital, province_code, city_code,
        area_code, address, business_license_valid_type,
        business_license_valid_date, business_license_url,
        tax_registration_url, tax_certificate_url,
        state, update_time,
        create_time
        )
        values (#{id,jdbcType=BIGINT},
        #{contact,jdbcType=VARCHAR},
        #{phone,jdbcType=VARCHAR},
        #{email,jdbcType=VARCHAR}, #{account,jdbcType=VARCHAR},
        #{password,jdbcType=VARCHAR},
        #{chineseName,jdbcType=VARCHAR},
        #{englishName,jdbcType=VARCHAR},
        #{telephone,jdbcType=VARCHAR},
        #{fax,jdbcType=VARCHAR}, #{businessLicenseNumber,jdbcType=VARCHAR},
        #{taxRegistrationNumber,jdbcType=VARCHAR},
        #{registeredCapital,jdbcType=DOUBLE},
        #{provinceCode,jdbcType=VARCHAR}, #{cityCode,jdbcType=VARCHAR},
        #{areaCode,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR},
        #{businessLicenseValidType,jdbcType=VARCHAR},
        #{businessLicenseValidDate,jdbcType=TIMESTAMP},
        #{businessLicenseUrl,jdbcType=VARCHAR},
        #{taxRegistrationUrl,jdbcType=VARCHAR},
        #{taxCertificateUrl,jdbcType=VARCHAR},
        #{state,jdbcType=VARCHAR},
        now(), now()
        )

    </insert>
    <insert id="insertSelective" parameterType="com.yellowstone.entity.Buyer">
        insert into t_buyer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="contact != null">
                contact,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="account != null">
                account,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="chineseName != null">
                chinese_name,
            </if>
            <if test="englishName != null">
                english_name,
            </if>
            <if test="telephone != null">
                telephone,
            </if>
            <if test="fax != null">
                fax,
            </if>
            <if test="businessLicenseNumber != null">
                business_license_number,
            </if>
            <if test="taxRegistrationNumber != null">
                tax_registration_number,
            </if>
            <if test="registeredCapital != null">
                registered_capital,
            </if>
            <if test="provinceCode != null">
                province_code,
            </if>
            <if test="cityCode != null">
                city_code,
            </if>
            <if test="areaCode != null">
                area_code,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="businessLicenseValidType != null">
                business_license_valid_type,
            </if>
            <if test="businessLicenseValidDate != null">
                business_license_valid_date,
            </if>
            <if test="businessLicenseUrl != null">
                business_license_url,
            </if>
            <if test="taxRegistrationUrl != null">
                tax_registration_url,
            </if>
            <if test="taxCertificateUrl != null">
                tax_certificate_url,
            </if>
            <if test="state != null">
                state,
            </if>

            update_time,
            create_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="contact != null">
                #{contact,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="account != null">
                #{account,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="chineseName != null">
                #{chineseName,jdbcType=VARCHAR},
            </if>
            <if test="englishName != null">
                #{englishName,jdbcType=VARCHAR},
            </if>
            <if test="telephone != null">
                #{telephone,jdbcType=VARCHAR},
            </if>
            <if test="fax != null">
                #{fax,jdbcType=VARCHAR},
            </if>
            <if test="businessLicenseNumber != null">
                #{businessLicenseNumber,jdbcType=VARCHAR},
            </if>
            <if test="taxRegistrationNumber != null">
                #{taxRegistrationNumber,jdbcType=VARCHAR},
            </if>
            <if test="registeredCapital != null">
                #{registeredCapital,jdbcType=DOUBLE},
            </if>
            <if test="provinceCode != null">
                #{provinceCode,jdbcType=VARCHAR},
            </if>
            <if test="cityCode != null">
                #{cityCode,jdbcType=VARCHAR},
            </if>
            <if test="areaCode != null">
                #{areaCode,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="businessLicenseValidType != null">
                #{businessLicenseValidType,jdbcType=VARCHAR},
            </if>
            <if test="businessLicenseValidDate != null">
                #{businessLicenseValidDate,jdbcType=TIMESTAMP},
            </if>
            <if test="businessLicenseUrl != null">
                #{businessLicenseUrl,jdbcType=VARCHAR},
            </if>
            <if test="taxRegistrationUrl != null">
                #{taxRegistrationUrl,jdbcType=VARCHAR},
            </if>
            <if test="taxCertificateUrl != null">
                #{taxCertificateUrl,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                #{state,jdbcType=VARCHAR},
            </if>
            now(), now()
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.yellowstone.entity.Buyer">
        update t_buyer
        <set>
            <if test="contact != null">
                contact = #{contact,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="account != null">
                account = #{account,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="chineseName != null">
                chinese_name = #{chineseName,jdbcType=VARCHAR},
            </if>
            <if test="englishName != null">
                english_name = #{englishName,jdbcType=VARCHAR},
            </if>
            <if test="telephone != null">
                telephone = #{telephone,jdbcType=VARCHAR},
            </if>
            <if test="fax != null">
                fax = #{fax,jdbcType=VARCHAR},
            </if>
            <if test="businessLicenseNumber != null">
                business_license_number =
                #{businessLicenseNumber,jdbcType=VARCHAR},
            </if>
            <if test="taxRegistrationNumber != null">
                tax_registration_number =
                #{taxRegistrationNumber,jdbcType=VARCHAR},
            </if>
            <if test="registeredCapital != null">
                registered_capital =
                #{registeredCapital,jdbcType=DOUBLE},
            </if>
            <if test="provinceCode != null">
                province_code = #{provinceCode,jdbcType=VARCHAR},
            </if>
            <if test="cityCode != null">
                city_code = #{cityCode,jdbcType=VARCHAR},
            </if>
            <if test="areaCode != null">
                area_code = #{areaCode,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="businessLicenseValidType != null">
                business_license_valid_type =
                #{businessLicenseValidType,jdbcType=VARCHAR},
            </if>
            <if test="businessLicenseValidDate != null">
                business_license_valid_date =
                #{businessLicenseValidDate,jdbcType=TIMESTAMP},
            </if>
            <if test="businessLicenseUrl != null">
                business_license_url =
                #{businessLicenseUrl,jdbcType=VARCHAR},
            </if>
            <if test="taxRegistrationUrl != null">
                tax_registration_url =
                #{taxRegistrationUrl,jdbcType=VARCHAR},
            </if>
            <if test="taxCertificateUrl != null">
                tax_certificate_url =
                #{taxCertificateUrl,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                state = #{state,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yellowstone.entity.Buyer">
        update t_buyer
        set contact = #{contact,jdbcType=VARCHAR},
        phone =
        #{phone,jdbcType=VARCHAR},
        email = #{email,jdbcType=VARCHAR},
        account =
        #{account,jdbcType=VARCHAR},
        password = #{password,jdbcType=VARCHAR},
        chinese_name = #{chineseName,jdbcType=VARCHAR},
        english_name =
        #{englishName,jdbcType=VARCHAR},
        telephone =
        #{telephone,jdbcType=VARCHAR},
        fax = #{fax,jdbcType=VARCHAR},
        business_license_number = #{businessLicenseNumber,jdbcType=VARCHAR},
        tax_registration_number = #{taxRegistrationNumber,jdbcType=VARCHAR},
        registered_capital = #{registeredCapital,jdbcType=DOUBLE},
        province_code = #{provinceCode,jdbcType=VARCHAR},
        city_code =
        #{cityCode,jdbcType=VARCHAR},
        area_code = #{areaCode,jdbcType=VARCHAR},
        address = #{address,jdbcType=VARCHAR},
        business_license_valid_type =
        #{businessLicenseValidType,jdbcType=VARCHAR},
        business_license_valid_date =
        #{businessLicenseValidDate,jdbcType=TIMESTAMP},
        business_license_url =
        #{businessLicenseUrl,jdbcType=VARCHAR},
        tax_registration_url =
        #{taxRegistrationUrl,jdbcType=VARCHAR},
        tax_certificate_url =
        #{taxCertificateUrl,jdbcType=VARCHAR},
        state =
        #{state,jdbcType=VARCHAR},
        update_time =
        #{updateTime,jdbcType=TIMESTAMP},
        create_time =
        #{createTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectByPhone" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_buyer
        where
        phone=#{phone,jdbcType=VARCHAR}
    </select>
    <select id="selectByAccount" parameterType="Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_buyer
        where
        account=#{account,jdbcType=VARCHAR}
        <if test="state != null">
            and state=#{state,jdbcType=VARCHAR}
        </if>
    </select>
    <select id="selectById" parameterType="long" resultMap="dtoMap">
        select
        <include refid="Base_Column_List"/>
        from t_buyer
        where id = #{id, jdbcType=BIGINT}
    </select>


    <!--只更新部分字段-->
    <update id="updateBuyer" parameterType="com.yellowstone.entity.Buyer">
        update t_buyer
        set
        chinese_name =
        #{chineseName,jdbcType=VARCHAR},
        english_name =
        #{englishName,jdbcType=VARCHAR},
        telephone =
        #{telephone,jdbcType=VARCHAR},
        fax = #{fax,jdbcType=VARCHAR},
        business_license_number = #{businessLicenseNumber,jdbcType=VARCHAR},
        tax_registration_number = #{taxRegistrationNumber,jdbcType=VARCHAR},
        registered_capital = #{registeredCapital,jdbcType=DOUBLE},
        province_code = #{provinceCode,jdbcType=VARCHAR},
        city_code =
        #{cityCode,jdbcType=VARCHAR},
        area_code = #{areaCode,jdbcType=VARCHAR},
        address = #{address,jdbcType=VARCHAR},
        business_license_valid_type =
        #{businessLicenseValidType,jdbcType=VARCHAR},
        business_license_valid_date =
        #{businessLicenseValidDate,jdbcType=TIMESTAMP},
        business_license_url =
        #{businessLicenseUrl,jdbcType=VARCHAR},
        tax_registration_url =
        #{taxRegistrationUrl,jdbcType=VARCHAR},
        tax_certificate_url =
        #{taxCertificateUrl,jdbcType=VARCHAR},
        update_time = now()
        where id = #{id,jdbcType=BIGINT}
    </update>
    <!--只更新部分字段-->
    <update id="updateState">
        update t_buyer
        set
        state = #{state,jdbcType=VARCHAR},
        update_time = now()
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="count" resultType="long" parameterType="site.wmblog.mapper.query.buyer.BuyerQuery">
        select
        count(*)
        from t_buyer
        <where>
            <if test="contact != null">
                contact like "%${contact}%"
            </if>
            <if test="phone != null" >
                and phone = #{phone, jdbcType=VARCHAR}
            </if>
            <if test="timeStart != null">
                and <![CDATA[ create_time > #{timeStart, jdbcType=TIMESTAMP} ]]>
            </if>
            <if test="timeEnd != null">
                and <![CDATA[ create_time <= #{timeEnd, jdbcType=TIMESTAMP} ]]>
            </if>
        </where>
    </select>

    <select id="list" resultMap="dtoMap" parameterType="site.wmblog.mapper.query.buyer.BuyerQuery">
        <include refid="Page.header"/>
        select
        <include refid="Base_Column_List"/>
        from t_buyer
        <where>
            <if test="contact != null">
                contact like "%${contact}%"
            </if>
            <if test="phone != null">
                and phone = #{phone, jdbcType=VARCHAR}
            </if>
            <if test="timeStart != null">
                and <![CDATA[ create_time > #{timeStart, jdbcType=TIMESTAMP} ]]>
            </if>
            <if test="timeEnd != null">
                and <![CDATA[ create_time <= #{timeEnd, jdbcType=TIMESTAMP} ]]>
            </if>
        </where>

        <choose>
            <when test='sort.Property == "createTime"'>
                order by create_time ${sort.Direction}
            </when>
            <otherwise>
                order by update_time desc
            </otherwise>
        </choose>

        <include refid="Page.footer"/>
    </select>

</mapper>
