<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.wmblog.mapper.ContractMapper">
    <resultMap id="BaseResultMap" type="com.yellowstone.entity.Contract">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="sub_order_id" jdbcType="VARCHAR" property="subOrderId"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="file_url" jdbcType="VARCHAR" property="fileUrl"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <resultMap id="detailMap" type="com.yellowstone.dto.contract.ContractDto" extends="BaseResultMap">
    </resultMap>

    <sql id="Base_Column_List">
    id, sub_order_id, type, file_url, update_time, create_time
  </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_contract
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from t_contract
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.yellowstone.entity.Contract">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Fri Jul 03 16:03:45 CST 2015.
        -->
        insert into t_contract (id, sub_order_id, type,
        file_url, update_time, create_time
        )
        values (#{id,jdbcType=BIGINT}, #{subOrderId,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR},
        #{fileUrl,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.yellowstone.entity.Contract">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Fri Jul 03 16:03:45 CST 2015.
        -->
        insert into t_contract
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="subOrderId != null">
                sub_order_id,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="fileUrl != null">
                file_url,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="subOrderId != null">
                #{subOrderId,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="fileUrl != null">
                #{fileUrl,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.yellowstone.entity.Contract">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Fri Jul 03 16:03:45 CST 2015.
        -->
        update t_contract
        <set>
            <if test="subOrderId != null">
                sub_order_id = #{subOrderId,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=VARCHAR},
            </if>
            <if test="fileUrl != null">
                file_url = #{fileUrl,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yellowstone.entity.Contract">
        update t_contract
        set sub_order_id = #{subOrderId,jdbcType=VARCHAR},
        type = #{type,jdbcType=VARCHAR},
        file_url = #{fileUrl,jdbcType=VARCHAR},
        update_time = #{updateTime,jdbcType=TIMESTAMP},
        create_time = #{createTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectBySubOrderId" parameterType="map" resultMap="detailMap">
        select
        <include refid="Base_Column_List"/>
        from t_contract
        where sub_order_id = #{subOrderId,jdbcType=VARCHAR}
        and type = #{type, jdbcType=VARCHAR}
    </select>
</mapper>