<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.wmblog.mapper.FlowConfMapper">
    <resultMap id="BaseResultMap" type="com.yellowstone.entity.FlowConf">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="flow_step" jdbcType="VARCHAR" property="flowStep"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <resultMap id="DtoResultMap" type="com.yellowstone.dto.flow.FlowConfDto" extends="BaseResultMap">
    </resultMap>

    <sql id="Base_Column_List">
        id, type, flow_step, create_time
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_flow_conf
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_flow_conf
    where id = #{id,jdbcType=BIGINT}
  </delete>

    <insert id="insert" parameterType="com.yellowstone.entity.FlowConf">
    insert into t_flow_conf (id, type, flow_step,
      create_time)
    values (#{id,jdbcType=BIGINT}, #{type,jdbcType=VARCHAR}, #{flowStep,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>

    <insert id="insertSelective" parameterType="com.yellowstone.entity.FlowConf">
        insert into t_flow_conf
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="flowStep != null">
                flow_step,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="type != null">
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="flowStep != null">
                #{flowStep,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.yellowstone.entity.FlowConf">
        update t_flow_conf
        <set>
            <if test="type != null">
                type = #{type,jdbcType=VARCHAR},
            </if>
            <if test="flowStep != null">
                flow_step = #{flowStep,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.yellowstone.entity.FlowConf">
        update t_flow_conf
        set type = #{type,jdbcType=VARCHAR},
          flow_step = #{flowStep,jdbcType=VARCHAR},
          create_time = #{createTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectByType" parameterType="java.lang.String" resultMap="DtoResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_flow_conf
        where type = #{type,jdbcType=VARCHAR}
    </select>

</mapper>