<div class="wm-overview mdl-card mdl-cell mdl-cell--12-col  mdl-shadow--2dp">
  <div class="wm-avatar">
    <img class="wm-avatar-image" src="./assets/img/avatar.png">
    <p class="wm-avatar-name">{{name}}</p>
    <p class="wm-avatar-bio">{{bio}}</p>
  </div>
  <nav class="wm-state mdl-navigation">
    <a class="wm-state-item mdl-navigation__link" href="">
      <span class="wm-state-item-count">15</span>
      <span class="wm-state-item-post">日志</span>
    </a>
    <a class="wm-state-item mdl-navigation__link" href="">
      <span class="wm-state-item-count">15</span>
      <span class="wm-state-item-post">分类</span>
    </a>
    <a class="wm-state-item mdl-navigation__link" href="">
      <span class="wm-state-item-count">15</span>
      <span class="wm-state-item-post">标签</span>
    </a>

  </nav>
</div>
